<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.22/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" herf="../static/css/index.css">
</head>
<body>
<div class="navbar glass shadow-xl rounded-lg mx-auto mt-4 max-w-screen-2xl w-full">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl">TreeHole</a>
    </div>
    <div class="flex-none gap-2">
        <div class="form-control">
            <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
        </div>
        <div>
            <div class="flex-none">
                <ul class="menu menu-horizontal px-1">
                    <li><a class="btn btn-primary mx-5">登录</a></li>
                    <li><a class="btn btn-accent">注册</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card mt-8 mx-auto w-full max-w-screen-lg bg-base-200 rounded-lg flex items-center justify-center">
    <div class="card-body text-center">
        <div class="artboard artboard-horizontal bg-base-300 phone-4 flex items-center justify-center rounded-lg">
            <h2 class="font-bold">广告招租中</h2>
        </div>
    </div>
</div>
<div class="mt-4 max-w-screen-xl w-full m-auto flex items-center justify-center">
    <div class="flex w-full flex-col">
        <div class="divider divider-neutral">悄悄话</div>
    </div>
    <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-5xl font-bold">Hello there</h1>
                <p class="py-6">
                    Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
                    quasi. In deleniti eaque aut repudiandae et a id nisi.
                </p>
                <button class="btn btn-primary">Get Started</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>